body {
    background-color: #282830;
    color: white;
    user-select:none;
    font-family: "Cutive", sans-serif;
    margin:0;
    word-spacing: 0.25em;
    overflow: hidden;
    user-select: none; /* CSS3 (little to no support) */
    -ms-user-select: none; /* IE 10+ */
    -moz-user-select: none; /* Gecko (Firefox) */
    -webkit-user-select: none; /* Webkit (Safari, Chrome) */

    scroll-behavior: smooth;
	scrollbar-width: thin;
  	scrollbar-color: var(--hl2) var(--hl1);
}
h1 {
    font-size: 28px;
    height: 38px;
    color: white;
}
h2 {
    font-size: 48px;
    margin-bottom: 0;
}
p, a {
    color:#DEDEDE;
}
footer {
    margin-top: auto;
    width: 600px;
    height: 100px;
    margin: 0 auto 16px;
    text-align: center;
    user-select: none;
    pointer-events: none;
}
div {
    text-align: center;
}

#app {
    display:flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

#app > div {
    width: 355px;
    overflow: auto;
}

#app > div:nth-child(1),
#app > div:nth-child(3) {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #2E2E36;
}
#app > div:nth-child(2) {
    overflow-x: auto;
}

input[type="color"] {
    height: 64px;
    width: 64px;    
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
    border: 2px #282830;
    border-radius: 4px;
    margin-top: 1px;
    height: 60px;
    width: 60px;
}
label {
    display: block;
    margin: auto;
    padding: 0 4px;
    width: 110px;
    text-align: center;
}

#workspace {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

::-webkit-scrollbar {
  	width: 12px;
}

::-webkit-scrollbar-track {
  	background-color: #383840;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  	background-color: #4A4A52;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  	background-color: #72727A;
}

::-webkit-scrollbar-thumb:active {
    background-color: #4A4A52;
}

#workspace > section {
    flex: 1;
    max-height: 66px !important;
}
#workspace > :nth-last-child(2) {
    flex: 1;
    max-height: 66px !important;
    margin-bottom: auto;
}

.btn-pal {
    height: 64px;
    width: 64px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top:6px;
    padding-inline: 2px;
    /* margin-top: -54px; */
}
.btn-pal.color {
    background-color: #4A4A52;
}
.btn-pal.color:hover {
    background-color: #72727A;
}
.btn-pal.new {
    background-color: #282830;
    font-size: 54px;
    color:#4A4A52;
    vertical-align: middle;
    border: none;
    margin-bottom: 54px;
}
.btn-pal.new:hover {
    background-color: #383840;
    color:#72727A;
}

.text-small {
    color:#B8B8B8;
}

.arrow {
    background-color:#2E2E36;
    font-size: 54px;
    color:#4A4A52;
    vertical-align: middle;
    border: none;
    margin-top: -54px;
}

.coloris {
    flex-shrink: 0;
    margin-bottom: 30px;
    width: 64px;
    height: 64px;
    border: none;
    border-radius: 4px;
    margin-top: 20px;
    padding: 0;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #4A4A52;
    color:#4A4A52;
    cursor: pointer;
}

/* Style The Dropdown Button */
.dropbtn {
    vertical-align: middle;
    font-family: inherit;
    background-color: #4A4A52;
    color: white;
    font-size: 16px;
    width: 110px;
    cursor: pointer;
    border:none;
    border-radius: 4px;
    margin-top: -5px;
}
  
/* The container <div> - needed to position the dropdown content */
.dropdown {
    display:inline-block;
    width: 110px;
    padding: 0 4px;
}
  
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #383840;
    width: 107px;
    z-index: 1;
    border: 2px solid #4A4A52;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
  
/* Links inside the dropdown */
.dropdown-content button {
    background-color: #383840;
    color: #DEDEDE;
    padding: 6px 16px;
    text-decoration: none;
    width: 107px;
    font-family: inherit;
    border: 2px solid #4A4A52;
    border-left:none;
    border-right:none;
    border-bottom: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
}
  
/* Change color of dropdown links on hover */
.dropdown-content button:hover {
    background-color: #4A4A52;
}
  
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
  
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #72727A;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

canvas {
    border: 4px dashed #72727A;
    border-radius: 10%;
    cursor: pointer;
    width: 300px;
    height: 300px;
}

.btn {
    vertical-align: middle;
    font-family: inherit;
    background-color: #4A4A52;
    color: white;
    font-size: 16px;
    width: 146px;
    padding-inline: 0px;
    cursor: pointer;
    border:none;
    border-radius: 4px;
}
.btn:hover {
    background-color: #72727A;
}

.pal-input {
    font-family: inherit;
    font-size: 16px;
    color: #DEDEDE;
    border: 4px dashed #72727A;
    border-radius: 10%;
    background-color:#2E2E36;
    width: 112px;
    height: 48px;
}
td {
    text-align: center;
    display: inline-flex;
}