body {
    background-color: #282830;
    color: white;
}

input[type="color"] {
    height: 64px;
    width: 64px;    
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
    border: 2px #282830;
    border-radius: 4px;
    margin-top: 1px;
    height: 60px;
    width: 60px;
}

.palette {
    height: 48px;
}

.btn-pal {
    height: 64px;
    width: 64px;
    border: none;
    border-radius: 4px;
    margin-top: -54px;
}
.btn-pal.color {
    background-color: #4A4A52;
}
.btn-pal.color:hover {
    background-color: #72727A;
}
.btn-pal.new {
    background-color: #282830;
    font-size: 54px;
    color:#4A4A52;
    vertical-align: middle;
    border: none;
}
.btn-pal.new:hover {
    background-color: #383840;
    color:#72727A;
}