body {
    background-color: #202124;
    color: white;
}

input[type="color"] {
    height: 64px;
    width: 64px;

}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
    border: 2px #202124;
}

.palette {
    margin-top: 15%;
}

.btn-pal {
    height: 64px;
    width: 64px;
}
.btn-pal.color {
    background-color: #4A4A4A;
}
.btn-pal.color:hover {
    background-color: #727272;
}
.btn-pal.new {
    background-color: #202124;
    font-size: 54px;
    color:#4A4A4A;
    vertical-align: middle;
    margin-top:-54px;
}
.btn-pal.new:hover {
    background-color: #202124;
    color:#727272;
}